{# templates/core/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Hello toi dev Symfony, ceci est une vue twig! Bravo!</h1>
{% endblock %}